{% extends 'base/main.html' %}
{%load static%}
{% block content %}

    <section class="s1">
		<div class="main-container">
			<h1>Bài viết</h1>

			<div class="post-wrapper">

				<div>
					<div class="post">
						<img class="thumbnail" src="{%static 'images/nha-gia-kim.jpg'%}">
						<div class="post-preview">
							<h6 class="post-title">Nhà giả kim</h6>
							<p class="post-intro">Hành trình phiêu lưu của cậu bé chăn cừu</p>
							<a href="{%url 'post'%}">Đọc bài</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="{%static 'images/bmw.jpg'%}">
						<div class="post-preview">
							<h6 class="post-title">BMW S1000RR</h6>
							<p class="post-intro">Cá mập lên bờ, superbike đầy sức mạnh đến từ hãng xe Đức</p>
							<a href="{%url 'post'%}">Đọc bài</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="{%static 'images/5h.jpg'%}">
						<div class="post-preview">
							<h6 class="post-title">Ngủ dậy lúc 5h sáng</h6>
							<p class="post-intro">Điều gì xảy ra khi thức dậy lúc 5h sáng</p>
							<a href="{%url 'post'%}">Đọc bài</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


{% endblock content %}